* {
  box-sizing: border-box;
}
.movie-screen {
  height: 100vh;
  width: 100%;
  position: relative;
}
.movie-title {
  font-size: 4rem;
  font-weight: 500;
}
.container {
  position: absolute;
  top: 250px;
  padding: 0 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
